:root {
  --black: #111111;
  --jet: #333333;
  --smoke: #f2f2f2;
  --lime: #ccff00;
  --blue: #002642;

  --default-ease: cubic-bezier(0.075, 0.82, 0.165, 1);
  --default-transition: 0.5s var(--default-ease);
}

* {
  box-sizing: border-box;
}

*::selection {
  background: var(--lime);
  color: var(--black);
}

body {
  background: var(--black);
  color: var(--smoke);
  font-family: "Alpino", sans-serif;
  font-size: 1.75vh;
  margin: 0;
}

a {
  color: var(--lime);
  filter: brightness(0.7);
  transition: var(--default-transition) filter;
}

a:hover {
  filter: brightness(1);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.icon {
  font-family: "Material Icons", sans-serif;
}

button, input {
  font-size: unset;
  font-family: unset;
  color: unset;
  background: unset;
  border-radius: unset;
  margin: unset;
  padding: unset;
  cursor: pointer;
  border: unset;
  outline: none;
}

/* ========== FONTS ========== */
@font-face {
  font-family: "Alpino";
  src: url("/fonts/alpino/Alpino-Variable.woff2") format("woff2"),
    url("/fonts/alpino/Alpino-Variable.woff") format("woff"),
    url("/fonts/alpino/Alpino-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/fonts/Satoshi-Variable.woff2") format("woff2"),
    url("/fonts/fonts/Satoshi-Variable.woff") format("woff"),
    url("/fonts/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
