:root {
  --black: #111111;
  --jet: #202020;
  --fog: #303030;
  --smoke: #f2f2f2;
  --lime: #ccff00;
  --blue: #002642;
  --red: #f52d2d;

  --default-ease: cubic-bezier(0.075, 0.82, 0.165, 1);
  --default-transition: 0.5s var(--default-ease);
}

* {
  box-sizing: border-box;
}

*::selection {
  background: var(--lime);
  color: var(--black);
}

body {
  background: var(--black);
  color: var(--smoke);
  font-family: "Sometype", monospace;
  /* font-family: monospace; */
  font-size: 1.75vh;
  margin: 0;
}

a {
  color: var(--lime);
  filter: brightness(0.7);
  transition: var(--default-transition) filter;
}

a:hover {
  filter: brightness(1);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.icon {
  font-family: "Material Icons", sans-serif;
}

/* REMOVE GENERICS */
button,
input {
  font-size: unset;
  font-family: unset;
  color: unset;
  background: unset;
  border-radius: unset;
  margin: unset;
  padding: unset;
  cursor: pointer;
  border: unset;
  outline: none;
}

/* INPUT STYLING */
input:not(.nostyle),
.input {
  background: var(--jet);
  color: var(--smoke);
  padding: 0 0.25em;
  filter: brightness(0.75);
  border-radius: 0.2em;
  transition: var(--default-transition);
  transition-property: filter;
}

input:not(.nostyle):hover,
.input:hover {
  filter: brightness(0.85);
}

input:not(.nostyle):focus,
.input:focus {
  filter: brightness(1);
}

/* BUTTON STYLING */
button:not(.nostyle),
.button {
  background: var(--lime);
  color: var(--black);
  padding: 0 1em;
  border-radius: 0.2em;
  cursor: pointer;
  filter: brightness(0.7);
}

button:not(.nostyle):hover,
.button:hover {
  filter: brightness(1);
}

/* CODE BLOCK STYLING */
code {
  padding: 0.1em 0.25em;
  font-size: 0.9em;
  font-family: monospace;
  background: var(--jet);
  border: 1px solid var(--lime);
  border-radius: 0.2em;
  text-wrap: nowrap;
  display: block;
  max-width: 100%;
  overflow-x: scroll;
}

/* ========== FONTS ========== */
@font-face {
  font-family: "Alpino";
  src: url("/fonts/alpino/Alpino-Variable.woff2") format("woff2"),
    url("/fonts/alpino/Alpino-Variable.woff") format("woff"),
    url("/fonts/alpino/Alpino-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Variable.woff2") format("woff2"),
    url("/fonts/satoshi/Satoshi-Variable.woff") format("woff"),
    url("/fonts/satoshi/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Sometype";
  src: url("/fonts/sometype/sometype-mono.ttf");
}
